body, div, li, ul, a , p{
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial;
	background-color: white;
}
div.title {
	margin-right: 20px;
}
div.nav ul {
	list-style: none;
}
div.nav ul li {
	float: left;
	width: 149px;
	height: 35px;
	border-left: 1px solid lightgray;
	opacity: .9;
	background-color: #ffffff;
	line-height: 35px;
	text-align: center;
}
div.nav ul li a {
	text-decoration: none;
	display: block;
}
div.nav ul li a:hover {
	background-color: lightgray;
}
div.nav ul li ul li {
	display: none;
}
div.nav ul li:hover ul li {
	display: block;
}