body, div, nav, h1, p, ul, li, a {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	background-repeat: no-repeat;
}

ul li {
	float: right;
	list-style: none;
	text-align: center;
}

ul li a {
	display: block;
}
.main-nav {
	overflow: hidden;
	background-color: green;
	position: fixed;
}

.menu {
	background-color: gray;
	float: right;
}

.visible {
	background-color: black;
	float: left;
	position: relative;
	/* WTF DOES THIS DO */
}
