body, div, nav, h1, p, ul, li, a {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	background-repeat: no-repeat;
}

ul li {
/*	float: right; */
	list-style: none;
	text-align: center;
}

ul li a {
	display : block;
	/* Niet inline-block bc er moeten nog borders */
	text-decoration: none;
}

.visible a {
	text-transform: uppercase;
	line-height: 60px;
	vertical-align: middle;
}

.main-nav {
	background-color: green;
	position: fixed;
}

.menu {
	background-color: gray;
	float: right;
}

.visible {
	background-color: white;
	float: left;
	width: 20%;
	height: 100%;
}

.hidden {
	display: none;
	background-color: black;
}

.hidden a{
	text-transform: capitalize;
}

.visible:hover .hidden {
	display: block;
}

.logo {
	display: inline-block;
	background-color: white;
	/* GEEN IDEE WAAROM BLOCK NIET WERKT MAAR HIJ DOET HET ZO. YEEY? */
}

.nav-logo {
	max-width: 100%;
	max-height: 100%;
	min-height: 80px;
	min-width: 104px;
}
