body{
	background-color: #ecffff;
}
div.title {
	max-width: 500px;
	margin: auto;
	text-align: center;
	color: blue;
}
ul.menu {
	list-style-type: none;
	max-width: 500px;
	margin: auto;
	padding: 20px;
	background-color: #f0f0f0;
}
li a {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	color: black;
}
li a:hover {
	background-color: #555;
	color: white;
}
li a:active {
	
}
