a:link {text-decoration:none;
		color:green;}
a:visited{color:blue;
		text-decoration:none;}
a:hover{color:red;
		text-decoration:none;}
.PageTitle{color:blue;
				font-family:Arial;
				font-size:18px;
				text-align:center;
				}
.roundleftborder{border-left: 2px solid blue;
	border-radius: 5px;
	padding-left: 20px;
	margin-left: 100px;
}
p.small {
	line-height: 0.9;
	letter-spacing:-0.4px;
}
p.big {
	line-height: 1.2;
	letter-spacing: 0.4px; 
}
p.medium {
	
}
body {background-color:#CCE5FF;}


