body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	background-color: white;
}

/* Navigation Bar */ 
nav ul {
	list-style: none;
	float: right;
	text-transform: uppercase;
}

nav ul li {
	width: 150px;
	height: 80px;
	color: white;
	text-align: center;
	line-height: 80px;
	float:left;
}

nav ul li a {
	display:block;
	background: black;

}

nav ul li a:hover {
	background: tomato;
	outline: none;
	border-radius: 6px;
}

nav ul li ul li {
	display: none;
}


nav ul li:hover ul li {
	display: block;
	background:black;
	color:white;
	text-transform: capitalize;
}

nav .logo {
	float: left;
	height: 80px;
	line-height: 80px;
	padding: 24px 100px;
	font-size: 24;
}