a:link {text-decoration:none;
		color:green;}
a:visited{color:blue;
		text-decoration:none;}
a:hover{color:red;
		text-decoration:none;}
.PageTitle{color:blue;
				font-family:Arial;
				font-size:18px;
				text-align:center;
				}
body {background-color:#CCE5FF;}
.roundleftborder{border-bottom: 2px solid blue;
		border-radius: 5px; 

}
